.arrow-white {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $main-white-color;
  

  &::after {
    position: absolute;
    content: '';
    top: 45%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-top: 3px solid $accent-color;
    border-left: 3px solid $accent-color;
    transform: rotate(135deg) translate(0, 50%);
  }

  &::before {
    position: absolute;
    content: '';
    top: 45%;
    left: 37%;
    width: 10px;
    height: 3px;
    background-color: $accent-color;
  }
}