.btn-white {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 9px 30px;
  border-radius: 25px;
  max-width: 180px;
  color: $accent-color;
  background-color: $main-white-color;

  &:hover {
    background-color: #ecebeb;
  }
}

//Стрелка должна быть спаном внутри ссылки
.arrow {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 10px;
    width: 6px;
    height: 6px;
    margin-left: 8px;
    border-top: 3px solid $accent-color;
    border-left: 3px solid $accent-color;
    transform: rotate(135deg);
  }
}
