.contacts {
  background: linear-gradient(to top, #fff5f6 75%, #ffffff 75%);

  &__item {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    background-color: #ffffff;
  }

  &__cafe,
  &__foodtruck {
    display: inline-block;
    text-transform: uppercase;
    color: $main-white-color;
    border-radius: 4px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;
  }

  &__cafe,
  &__foodtruck {
    padding: 2px 20px;
    margin-bottom: 32px;
  }

  &__cafe {
    background-color: #f0d1a5;
  }

  &__foodtruck {
    background-color: #c2e297;
  }

  &__title {
    margin-bottom: 12px;
    letter-spacing: 0.04em;
  }

  &__text,
  &__contact-list {
    color: #907e82;
  }

  &__schedule-list {
    position: relative;
    margin: 64px 0;

    &::after {
      content: '';
      top: -25%;
      width: 100%;
      position: absolute;
      border-top: 1px solid #e1e1e1;
    }

    &::before {
      content: '';
      bottom: -25%;
      width: 100%;
      position: absolute;
      border-bottom: 1px solid #e1e1e1;
    }
  }

  &__schedule-time {
    display: block;
    color: #ffa5ba;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    position: relative;
    padding: 48px 0;
    font-size: 12px;

    &__list {
      margin-bottom: 32px;
    }

    &__item {
      max-width: 280px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__text {
      max-width: 180px;
    }

    &__schedule-list {
      position: relative;
      margin: 48px 0;

      &::after {
        content: '';
        top: -35%;
        width: 100%;
        position: absolute;
        border-top: 1px solid #e1e1e1;
      }

      &::before {
        content: '';
        bottom: -35%;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid #e1e1e1;
      }
    }

    &__schedule-item {
      margin-bottom: 8px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .btn-red--size {
    margin-bottom: 10px;
  }

  .btn-red--size,
  .btn-white--size {
    display: inline-flex;
    width: 192px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    padding: 80px 0 40px;

    &__list {
      margin: 0 auto 40px;
      display: flex;
      justify-content: space-between;
      max-width: 800px;
    }

    &__item:not(:last-child) {
      margin-right: 32px;
    }

    &__schedule-item,
    &__contact-item {
      margin-bottom: 8px;
    }

    &__button:not(:last-child) {
      margin-right: 15px;
    }
  }

  .btn-red--size,
  .btn-white--size {
    padding: 9px 0;
    width: 191px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding: 60px 0;

    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &__item:not(:last-child) {
      margin-right: 32px;
    }

    &__button:not(:last-child) {
      margin-right: 15px;
    }
  }

  .btn-red--size,
  .btn-white--size {
    width: 198px;
  }
}

// modal wndw

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(252, 74, 157, 0.2);
  z-index: 20;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #fff5f6;
  border-radius: 30px;
  z-index: 21;
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close::after,
.modal__close::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: $accent-color;
  top: 50%;
  left: 50%;
}

.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__close:hover::before,
.modal__close:hover::after {
  background-color: $secondary-color;
}

.modal__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 33px;
  color: $accent-color;
  text-align: center;
}

