.contacts {
  &__item {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__cafe,
  &__foodtruck {
    text-transform: uppercase;
    color: $main-white-color;
  }

  &__cafe,
  &__foodtruck {
    padding: 2px 20px;
    margin-bottom: 32px;
  }

  &__cafe {
    background-color: #F0D1A5;
  }

  &__foodtruck {
    background-color: #C2E297;
  }
}


@media screen and (max-width: 767px) {

  .contacts {
  
    &__item {
      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
  
      &:last-child {
        margin-bottom: 32px;
      }
    }

    &__cafe,
    &__foodtruck {
      padding: 2px 25px;
    
    }

    &__schedule-item {
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .contacts {
    padding: 80px 0 40px;

    &__list {
      margin: 0 auto 40px;
      display: flex;
      justify-content: space-between;
      max-width: 800px;
    }

    &__item {
      max-width: 230px;
    }

    &__schedule-item,
    &__contact-item {
      margin-bottom: 8px;
    }
  }

}

@media screen and (min-width: 1200px) {

  .contacts {
    padding: 120px 0;

    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &__item {
      max-width: 395px;
    }
  }
}

