.cust-reviews {
  background: linear-gradient(180deg, #fff5f6, rgba(0, 0, 0, 0) 50%);
  &__container {
    text-align: center;
  }

  &__group {
    margin-bottom: 80px;
  }

  &__avatar {
    margin: 0 auto;
  }

  &__note {
    background-color: #fafafa;
    z-index: 1;
    position: relative;
    margin: 0 auto 16px;
  }

  &__note-bg {
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      29px,
      #e1e1e1 30px,
      #e1e1e1 31px
    );
    padding: 0px 20px 8px 20px;
    z-index: -2;
  }

  &__text {
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    z-index: 1;
    letter-spacing: 0.04em;
  }

  &__text::before {
    content: url(../images/cust-reviews/cust.svg);
    position: absolute;
    z-index: -1;
  }

  &__red-dots {
    display: flex;
    justify-content: space-between;
    width: 32px;
    margin: 4px auto 20px;
  }

  .red-dot {
    background: #c7133e;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }

  &__author {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 32px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots > li:not(.slick-active) {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }

  .slick-dots > li > button {
    border: none;
    font-size: 0;
    padding: 0;
  }

  .slick-dots > li:not(:last-child) {
    margin-right: 18px;
  }

  .slick-active {
    width: 12px;
    height: 10px;
    background: url(../images/cust-reviews/home.svg);
    background-repeat: no-repeat;
    background-position: center;
  }


}

@media screen and (max-width: 768px) {
  .cust-reviews {
    &__avatar {
      margin-bottom: 32px;
    }

    &__text {
      font-size: 12px;
    }

    &__text::before {
      left: 45px;
      top: 40px;
    }

    &__note {
      max-width: 280px;
      padding: 50px 50px 25px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cust-reviews {
    &__avatar {
      margin-bottom: 20px;
    }

    &__note {
      max-width: 620px;
      padding: 37px 30px;
    }

    &__text {
      font-size: 14px;
    }

    &__text::before {
      left: 15px;
      top: 17px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cust-reviews {

    &__avatar {
      margin-bottom: 16px;
    }

    &__note {
      max-width: 1100px;
      padding: 31px 107px;
    }

    &__text {
      font-size: 16px;
    }

    &__text::before {
      left: 87px;
      top: 17px;
    }
  }
}
