// __________FOOTER_________
.footer {
  background-color: #fff5f6;

  &__text,
  &__text--colored {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 16px;
    color: $secondary-color;
  }

  &__text--colored {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    color: $accent-color;
  }

  &__contact-block {
    margin-bottom: 40px;
  }

  &__contact {
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: #000000;
  }

  &__link {
    color: $accent-color;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-top: 1px solid #e1e1e1;
    background-color: #fff5f6;

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 152%;
      color: #907e82;
    }
  }
}

// __________SOCIAL_________
.socials {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;
    
    border-radius: 50%;
    background: #fea5bb;

    &:hover {
      background: $accent-color;
    }
  }

  &__icon {
    width: 19px;
    height: 19px;
    fill: $main-white-color;
  }
}

// __________MOBIL_________
@media screen and (max-width: 767px) {
  .footer {
    
    &__text-block {
      max-width: 240px;
    }

    &__copyright {
      padding: 16px 20px 20px;

      &-text {
        text-align: center;
      }

      &-text span {
        display: block;
      }
    }
  }
}

// __________TABLET_________
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {

    &__text-block {
      max-width: 340px;
    }

    &__text {
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
    }

    &__text--colored {
      font-size: 48px;
      line-height: 1.15;
      letter-spacing: 0.06em;
    }

    &__block {
      display: flex;
      justify-content: space-between;
    }
  }
}

// __________DESCTOP_________
@media screen and (min-width: 1201px) {
  .footer {

    &__text {
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }

    &__text--colored {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }

    &__block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__contact-block {
      align-self: flex-end;
    }
  }
}
