.header {
  padding-top: 37px;

  background-color: #ffb8ca;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 35px;
  }

  &__nav {
    position: relative;
    z-index: 2;
  }

  &__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #ffffff;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__button-burger {
    width: 44px;
    height: 44px;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.hero {
  padding: 60px 0;

  & > .container {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  &__passion-milk {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;

    margin-top: 24px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__title {
    max-width: 218px;

    font-family: 'Titan One';
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__title-decorate {
    font-size: 41px;

    color: $accent-color;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    border-radius: 20px;

    border: none;

    font-size: 8px;
    line-height: 1.25;
    cursor: pointer;

    &:hover {
      background-color: #ecebeb;
    }
  }

  &__milk {
    display: flex;
    align-items: center;

    margin-top: 40px;
  }

  &__milk-inner {
    display: flex;
    flex-direction: column;
  }

  &__text {
    position: relative;
    z-index: 2;

    max-width: 114px;

    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 150%;

    color: #ffffff;
  }

  &__btn {
    width: 26px;
    height: 26px;
    border-radius: 50%;

    border: none;
    background-image: url(../images/header/desktop/button.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url(../images/header/desktop/button-2x.png) center/cover no-repeat;
    }
  }

  &__btn-img {
    width: 26px;
    height: 26px;
  }

  &__ice-cream {
    position: relative;
    width: 335px;
  }

  &__ice-cream::after {
    position: absolute;
    content: '';
    top: -97px;
    left: -145px;

    width: 580px;
    height: 580px;
    border-radius: 50%;

    background-color: $secondary-color;
  }

  &__img {
    position: absolute;
    bottom: -158px;
    left: -110px;

    z-index: 2;
  }

  &__data {
    display: flex;

    width: 50px;
  }

  &__data-item {
    position: relative;
    z-index: 10;
  }

  &__data-item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__data-text {
    display: flex;
    flex-direction: column;
  }

  &__data-span {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 1.14;

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $accent-color;
  }

  &__data-item--first::after {
    position: absolute;
    top: -3px;
    right: -7px;

    z-index: -1;

    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: #ffffff;
  }

  &__data-item--second::after {
    position: absolute;
    top: -3px;
    right: -7px;

    z-index: -1;

    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: #ffffff;
  }

  &__data-text {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.25;
    text-align: right;

    color: #ffffff;
  }
}

.hero {
  &__girl {
    position: absolute;

    right: 0;
    bottom: -16px;
  }
}

// modal wndw

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(252, 74, 157, 0.2);
  z-index: 20;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #FFF5F6;
  border-radius: 30px;
  z-index: 21;
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border: 1px solid #D41443;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  top: 14px;
  right: 6px;
  background-color: #D41443;
  transform: rotate(45deg);
}

.modal__close::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  top: 14px;
  right: 6px;
  background-color: #D41443;
  transform: rotate(-45deg);
}

.modal__close:hover::before,
.modal__close:hover::after {
  background-color: #FFA5BA;
}

.modal__header {
  font-weight: 700;
  font-size: 40px;
  line-height: 33px;
  color: #D41443;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFA5BA;
}

.label {
  position: relative;
}

.modal__description {
  margin: 10px 0 10px 0;
  font-size: 24px;

}

.modal__small-input {
  padding: 0 0 0 40px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;

}

.modal__small-input:focus {
  border: 1px solid #FFA5BA;
}

.modal__small-input:focus .modal__svg {
  fill: #FFA5BA;
}

.modal__input-svg {
  position: relative;
}

.modal__input-svg-icon {
  position: absolute;
  top: 13px;
  height: 13px;
  left: -129px;
  fill: #D41443;
}

.modal__input-svg:focus-within .modal__input-svg-icon {
  fill: #FFA5BA;
}

.modal__big-input {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 30px;
  resize: none;
  box-sizing: border-box;
  padding: 12px 16px;
  outline: none;
}

.modal__big-input:focus {
  border: 1px solid #FFA5BA;
}

.modal__label_checkbox {
  user-select: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal__span {
  display: flex;
  justify-content: center;
  align-content: center;
  left: 12px;
  width: 16px;
  height: 16px;
  border: 2px solid #D41443;
  border-radius: 50%;
}

.modal__pics {
  display: flex;
  flex-direction: column;
}

.modal__item {
  display: flex;
  align-items: center;
}

.modal__amount {
  color: #D41443;
  width: 120px;
  height: 80px;
  margin-left: 20px;
  border-radius: 40px;
  font-size: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal__amount:focus {
  border: 1px solid #FFA5BA;
}

.modal__confirm-svg {
  margin-top: 1px;
  height: 8px;
  width: 11px;
}

.modal__confirm-link {
  text-decoration: underline;
  color: #FFA5BA;
}

.modal__input-checkbox {
  width: 0;
  height: 0;
  z-index: 0;
}

.modal__input-checkbox:checked~.modal__span {
  background-color: #FFB8CA;
}

.modal__confirm {
  margin-left: 8px;
}

.submit {
  width: 200px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  border: 0px;
  background-color: #D41443;
  border-radius: 30px;
}

.input-checkbox:checked~.span {
  background-color: aqua;
}

.input-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .modal__small-input {
    width: calc(100vw - 150px)
  }

  .modal__big-input {
    width: calc(100vw - 150px)
  }
}

@media screen and (max-width: 450px) {
  .modal__small-input {
    width: calc(100vw - 80px)
  }

  .modal__big-input {
    width: calc(100vw - 80px)
  }
}

// mobile menu

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: #e17992;
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  & > .container {
    padding: 60px 20px 0;
  }

  &__button-close {
    position: absolute;
    top: 10px;
    right: 17px;

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .menu__btn--buy {
    display: flex;
    width: 210px;
    margin-bottom: 32px;
  }

  &__item {
    padding: 10px;

    border: 1px solid #e18298;
    border-right: none;
    border-left: none;
  }

  &__link {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    color: #ffffff;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 8px 20px 0;

    overflow: hidden;

    &__nav {
      display: none;
    }

    &__btn--made {
      display: block;
      width: 83px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #d41443;
    }
  }

  .btn-white {
    display: none;
  }

  .hero {
    padding: 136px 0 158px;

    &__passion {
      position: relative;
      z-index: 3;
    }

    &__btn--product {
      width: 63px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }

    &__btn--made {
      display: block;
      width: 83px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #d41443;
    }

    &__ice-cream::after {
      width: 346px;
      height: 344px;
    }

    &__milk {
      display: none;
    }

    &__img--tablet {
      display: none;
    }

    &__img--desktop {
      display: none;
    }

    &__data {
      display: none;
    }

    &__girl {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 32px 32px 0;

    &__nav {
      display: none;
    }

    &__buttons {
      display: flex;
      align-items: center;
    }

    &__btn--buy {
      margin-left: 20px;
      width: 160px;
    }
  }

  .hero {
    padding: 18px 0px 16px;

    &__title {
      max-width: 162px;

      font-size: 22px;
      line-height: 1.13;
    }

    &__title-decorate {
      font-size: 35px;
    }

    &__btn--product {
      width: 63px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }

    &__btn--made {
      display: block;
      width: 83px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #d41443;
    }

    &__img {
      bottom: -16px;
      left: 0;
    }

    &__img--desktop {
      display: none;
    }

    &__ice-cream::after {
      top: -15%;
      left: -25%;

      width: 355px;
      height: 355px;
    }
  }

  .menu {
    &__button {
      width: 186px;
      height: 44px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__button-burger {
      display: none;
    }

    &__btn--buy {
      width: 159px;
    }
  }

  .hero {
    &__title {
      max-width: 277px;

      font-size: 38px;
    }

    &__title-decorate {
      font-size: 60px;
    }

    &__btn--product {
      width: 107px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;
    }

    &__btn--made {
      display: block;
      width: 138px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #d41443;
    }
    &__item:not(:last-child) {
      margin-right: 12px;
    }

    &__img {
      bottom: -60px;
      left: 0;
    }

    &__img-milk--tablet {
      display: none;
    }

    &__text {
      max-width: 200px;

      font-size: 14px;
      line-height: 140%;
    }

    &__img--tablet {
      display: none;
    }

    &__data {
      width: 90px;
    }

    &__data-item--first::after {
      top: -7px;
      right: -12px;

      width: 30px;
      height: 30px;
    }

    &__data-item--second::after {
      top: -7px;
      right: -12px;

      width: 30px;
      height: 30px;
    }

    &__data-span {
      font-size: 46px;
      line-height: 1.15;
    }

    &__data-text {
      font-size: 14px;
      line-height: 1.28;
    }

    &__girl {
      bottom: -60px;
    }

    &__girl--tablet {
      display: none;
    }
  }

  .menu {
    display: none;
  }
}
