body {
  background-color: $main-white-color;

  font-family: 'DM Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  font-weight: 500;
  color: $main-black-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  max-width: 1310px;
  margin: 0 auto;
}