$main-black-color: #000000;
$main-white-color: #FFFFFF;
$accent-color: #D41443;
$secondary-color: #FFA5BA;
$products-pink-color: #FFB8CA;
$products-sand-color: #F0D1A5;
$products-green-color: #C2E297;